<!DOCTYPE html>
<html lang="en">
 
 <!-- Get Bootstrap links and set title -->
<head>
    <title>Photo Garage</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>

    <!-- Add home button and set muted title -->
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a class="btn btn-lg btn-warning btn-sm" href="/">Home</a></li>
                </ul>
            </nav>
            <br/>
            <h3 class="text-muted">Photo Garage</h3>
        </div>
        
        <!-- Set success message and add navigation links -->
        <div class="jumbotron">
            <h1>Photo Successfully Uploaded</h1>
            <p class="lead"></p>
            <p>
                <a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg btn-info" href="upload" role="button">Upload Photo</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg btn-danger" href="viewer/1" role="button">View Photos</a>
            </p>
        </div>
        <!-- Display successfully uploaded image -->
        <img src = " {{url_for('send_image', filename=image_name)}}">

        <!-- Display footer -->
        <footer class="footer">
            <p>&copy; Jay Villari 2018</p>
        </footer>
</body>
 
</html>