<!DOCTYPE html>
<html lang="en">

 <!-- Get Bootstrap links and set title --> 
<head>
    <title>Photo Garage</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>

    <!-- Add home button and set muted title -->
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a class="btn btn-lg btn-warning btn-sm" href="/">Home</a></li>&nbsp;&nbsp;&nbsp;
                    <li role="presentation" class="active"><a class="btn btn-lg btn-warning btn-sm" href="/showSignin">Sign In</a></li>
                </ul>
            </nav>
            <br/>
            <h3 class="text-muted">Photo Garage</h3>
        </div>
        
        <!-- Set welcome message and add navigation links -->
        <div class="jumbotron">
            <h1>Welcome to Photo Garage</h1>
            <p class="lead"></p>
            <p>
                <a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg btn-info" href="upload" role="button">Upload Photo</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg btn-danger" href="viewer/1" role="button">View Photos</a>
            </p>
        </div>
        
        <!-- Add information messages -->
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Upload a variety of file types</h4>
                <p>Photo Garage supports several image file types such as PNG, JPG, and GIF.</p> 
 
                <h4>Create an account</h4>
                <p>Sign up for an account so that you can edit captions and delete unwanted photos. (In Progress)</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Add Captions</h4>
                <p>Add captions to your photos so that you can remember where and when you took them.</p>
 
                <h4>View up to ten photos at a time</h4>
                <p> View your up to ten of your uploaded photos (in chronological order) at once.</p>
        </div>
        
        <!-- Display footer -->
        <footer class="footer">
            <p>&copy; Jay Villari 2018</p>
        </footer>
 
    </div>
</body>
 
</html>